* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.logo {
  font-size: 20px;
  text-transform: capitalize;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-left: 16px;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 17px;
}
nav ul li a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.hello-section {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../image/portofoloio6.jpg);
  height: 100vh;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 2%;
  margin-top: 40px;
}
.hero-part h1 {
  font-size: 26px;
  color: white;
  font-weight: bold;
  text-transform: capitalize;
  margin-top: 15%;
}
.hero-part h3 {
  color: white;
  font-size: 20px;
  text-transform: capitalize;
}
.about-container {
  display: flex;
  margin: 10px 40px;
  padding: 10px 40px;
}
.about-desc {
  flex-basis: 50%;
  padding: 10px 20px;
}
.contact-details img {
  width: 200px;
  height: 200px;
  margin-right: 10px;
}
.profile span{
  font-size: 18px;
  font-weight: bold;
  color: black;
  margin: 5px;
}
.profile p{
  font-size: 18px;
  color: gray;
}
.contact-details {
  display: flex;
}
.skills-container{
  background-color:lightgray;
}
.html{
  background-color: blue;
  color: white;
  text-align: center;
  padding: 3px 4px;
}
.css{
  background-color: dodgerblue;
  color: white;
  padding: 3px 4px;
  text-align: center;
}
.javascript{
background: mediumseagreen;
padding: 3px 4px;
text-align: center;
color: white;
}
.about-content {
  flex-basis: 50%;
  padding:12px 10px;
}
.about-content p{
  font-size: 18px;
  line-height: 25px;
}

.h1-about{
  color: rgba(0, 0, 0, 0.8);
  text-transform: capitalize;
}

/* service part section */

.service-section{
  padding: 10px 70px;
}
.service-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  grid-column-gap: 12px;
  grid-row-gap: 20px;

}
.service-content{
  text-align: center;
  padding: 20px 10px;
  
}
.service-content img{
width: 100px;
height: 100px;
}
.textcenter{
text-align: center;
}
.servicedesc{
  margin: 12px 3px;
}
.centerdesc{
  font-size: 18px;
  margin-top: 7px;
  text-transform: capitalize;
}
.portfolio-section{
  padding: 10px 70px;
  background-color: beige;
}

.portfolio-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  grid-column-gap: 12px;
  grid-row-gap: 16px;
  margin-top: 10px;
  
}
.portfolio-content{
  
  padding: 7px;
}
.portfolio-content img{
  width: 100%;
  height: 200px;
  border-radius: 7px;
}
.portfolio-content h3{
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 7px;
}
.portfolio-content a{
  text-decoration: none;
  color: black;
  font-size: 16px;
  margin-top: 5px;
}