* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  /* scroll-behavior: smooth; */
}
::-webkit-scrollbar{
  width: 10px;
  
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body{
  background-color: azure;
}
header{
  width: 100%;
height: 50px;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 100px;

}
.nav-bar ul {
  display: flex;
  list-style-type: none;

}
.logo {
  font-size: 20px;
  text-transform: capitalize;
  color: #fefefe;
}
.nav-bar ul li {
  display: block;
  margin-left: 16px;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 17px;
}
nav ul li a {
  color: white;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}
nav ul li a::after {
  content: "";
  width: 0;
  background: #ff004f;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}
.menu{
  display: none;
}

.hello-section {
  background: 
    url(../image/portofoloio6.jpg);
  height: 100vh;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;


}
.hero-part h1 {
  font-size: 26px;
  color: white;
  font-weight: bold;
  text-transform: capitalize;
  margin-top: 20%;
}
.hero-part h3 {
  color: white;
  font-size: 20px;
  text-transform: capitalize;
}

.about-container {
  display: flex;
  margin: 10px 40px;
  padding: 10px 40px;
}
.about-desc {
  flex-basis: 50%;
  padding: 10px 20px;
}
.contact-details img {
  width: 200px;
  height: 200px;
  border-radius: 7px;
  margin-right: 30px;
}
.profile span{
  font-size: 16px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
  margin:  10px 5px;
}
.profile p{
  font-size: 16px;
  color:rgba(0, 0, 0, 0.6);
  font-weight: 500;
  margin-bottom: 20px;
}
.contact-details {
  display: flex;
}
.skills-container{
  background-color:lightgray;
}
.skills-desc p{
text-transform: capitalize;
font-size: 15px;
font-size: bold;
margin: 7px 4px;

}
.skills-bars{
  height: 12px;

}
.html{
  background-color: blue;
  color: white;
  text-align: center;
  padding: 3px 4px;
  width: 75%;

}
.css{
  background-color: dodgerblue;
  color: white;
  padding: 3px 4px;
  text-align: center;
  width: 65%;
}
.javascript{
background: mediumseagreen;
padding: 3px 4px;
text-align: center;
color: white;
width: 70%;
}
.about-content {
  flex-basis: 50%;
  padding:12px 10px;
}
.about-content p{
  font-size: 18px;
  margin-top: 20px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.8);
}

.h1-about{
  color: rgba(0, 0, 0, 0.8);
  text-transform: capitalize;
}

/* service part section */

.service-section{
  padding: 50px 70px;
  background-color: azure;
  height: 80vh;
  
}
.service-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  grid-column-gap: 12px;
  grid-row-gap: 20px;

}
.service-content{
  text-align: center;
  padding: 20px 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 7px;
  
}
.service-content img{
width: 100px;
height: 100px;
margin-top: 7px ;
margin-bottom: 8px;
}
.service-content h1{
  color: rgba(0, 0, 0, 0.8);
  text-transform: capitalize;
  font-size: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.textcenter{
text-align: center;
}
.servicedesc{
  margin: 12px 3px;
}
.centerdesc{
  font-size: 18px;
  margin-top: 7px;
  text-transform: capitalize;
}
.portfolio-section{
  padding: 10px 70px;
  background-color: azure;
}

.portfolio-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  grid-column-gap: 12px;
  grid-row-gap: 16px;
  margin-top: 10px;
  
}
.portfolio-content{
  
  padding: 7px;
}
.portfolio-content img{
  width: 100%;
  height: 200px;
  border-radius: 7px;
}
.portfolio-content h3{
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 7px;
}
.portfolio-content a{
  text-decoration: none;
  color: black;
  font-size: 16px;
  margin-top: 5px;
}
.footer-container{
  display: flex;
  padding: 10px 70px;
}
.content1{
  flex-basis: 48%;
  margin-right: 20px;
}
.content1 h1{
  font-size: 25px;
  margin: 20px 1px;
  color: rgba(0, 0, 0, 0.8);
}

form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
form input{
  padding: 10px;
  border:0.3px solid lightgray
}
form button{
  width: 30%;
  padding: 12px;
  border-radius: 30px;
  font-size: 20px;
  background-color: dodgerblue;
  color: white;
  outline: 0;
  border: 0;
}
.content2{
  flex-basis: 48%;
  margin-left: 10px;
}

.content2 h1{
  font-size: 25px;
  margin: 20px 1px;
  color: rgba(0, 0, 0, 0.8)
}
.content2 p{
  color: rgba(0, 0, 0, 0.8);
  line-height: 25px;
}
.social-desc{
  display: flex;
  margin-top: 20px;
}
.social-desc img{
  width:25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 20px;
}
.social-desc2{
  display: flex;
  margin-top: 20px;
}
.social-desc2 img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 20px;
  
}
.scrolltop{
  position: fixed;
  bottom: 0;
  right: 0;
}
.scrolltop img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
/* resposiveness design */
@media screen and (max-width:900px) {

  header{
    padding: 0 10px;
  }
  .nav-bar{
    position: absolute;
    right: 0;
    top: 40px;
    background-color: #11101b;
    left: 0;
    width: 100vw;
    transition: 0.5s;
    height: 0px;
    overflow: hidden;
  }
  .nav-bar.active{
    height: 450px;
  }
    .nav-bar ul {
      list-style-type: none;
      display: block;
      width: fit-content;
      margin: 80px auto 0 auto;
      text-align: center;
      opacity: 0;
      transition: 0.2s;
    }
    .nav-bar.active ul{
      opacity: 1;
    }
    .nav-bar ul li {
    
      font-size: 16px;
      margin-bottom: 12px;
      color: white;
     
    }
    .logo{
    font-size: 17px;
    }
    .menu{
      display: block;
      cursor: pointer;
      z-index: 1000!important;
    }
    .service-section{
      height: 120vh;
      padding: 10px;
  
    }

    .service-container{
      display: block
      
    }
    .service-content{
      text-align: center;
      height: 200px;
      padding: 20px 10px;
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 7px;
      
    }





   .portfolio-section{
    margin-top: 20px;
    
   }
    .about-container{
      display: block;
    }
    .footer-container{
      display: block;
    }
    form button{
      width: 20%;
      padding: 7px;
      border-radius: 30px;
      font-size: 16px;
      background-color: dodgerblue;
      color: white;
      outline: 0;
      border: 0;
    }
}